openapi: 3.0.3
info:
  title: Fitly API
  version: 1.0.0
  license:
    name: Internal educational project; no license granted
  description: |
    Контракт REST API мобильного приложения Fitly. Это единый источник
    истины для backend, frontend, тестов, mock-сервера и документации. Если код
    расходится с этим файлом, исправляется код либо контракт меняется отдельным
    согласованным изменением до реализации.

    Источники требований: SRS Fitly, карточки FITLY-001—FITLY-077 и фактический
    контракт текущего приложения. При конфликте сохранена обратная совместимость
    существующих `/api/v1` endpoints, а бизнес-правила уточнены по SRS и Trello.

    ## 1. Общие правила

    * Запросы и JSON-ответы используют `Content-Type: application/json`.
    * Имена JSON-полей используют `camelCase`. Frontend не должен самостоятельно
      переименовывать поля в `snake_case` и обратно.
    * Поле, отсутствующее в JSON, и поле со значением `null` — разные состояния.
      `null` разрешён только там, где схема явно содержит `nullable: true`.
    * Неизвестные поля нельзя отправлять в объекты с `additionalProperties: false`.
    * Даты без времени передаются как `YYYY-MM-DD`, моменты времени — в формате
      RFC 3339, например `2026-07-16T14:30:00Z`.
    * Сервер хранит моменты времени в UTC. Дневные границы и отображение считаются
      в часовом поясе из настроек пользователя.
    * Идентификаторы сущностей — положительные 64-битные целые числа.
    * Пользователь получает доступ только к собственным данным. `userId` не
      передаётся в пользовательских request body и определяется по access JWT.
    * Удаление возвращает JSON-подтверждение `{ "success": true, "data":
      { "deleted": true } }`, а не пустой ответ `204`.
    * Конкретная схема операции важнее общих соглашений. Например, совместимый
      `PUT /profile` обновляет только переданные поля, хотя обычно `PUT` означает
      полную замену ресурса.

    ## 2. Авторизация и токены

    По умолчанию все операции защищены схемой `bearerAuth`. Публичные операции
    (`register`, `login`, `refresh`, восстановление пароля и health check) явно
    содержат `security: []`.

    Access JWT передаётся только в HTTP-заголовке:

    ```http
    Authorization: Bearer <token>
    ```

    После регистрации или входа сервер возвращает `data.token`,
    `data.refreshToken`, `data.tokenType` и `data.expiresIn`. Имя `token` означает
    access token и сохранено для совместимости с существующим приложением.
    Refresh-токен не используется как Bearer-токен: он отправляется только в body
    операций `/auth/refresh` и завершения соответствующей сессии.

    Если защищённая операция вернула `401`, frontend может один раз вызвать
    `/auth/refresh`, сохранить новую пару токенов и повторить исходный запрос.
    Несколько параллельных `401` должны ожидать один общий refresh-запрос. Если
    refresh также завершился ошибкой, frontend удаляет локальные токены и
    переводит пользователя на экран входа. Бесконечно повторять запрос нельзя.

    ## 3. Успешный ответ

    Все успешные JSON-ответы используют envelope:

    ```json
    {
      "success": true,
      "data": {
        "id": 42
      },
      "meta": {
        "requestId": "req_01J0Y7Y0QZ5M4X2D7F8A"
      }
    }
    ```

    * `success` всегда равен `true`.
    * `data` содержит полезную нагрузку конкретной операции. Её структура
      определяется схемой ответа этой операции.
    * `meta` содержит служебную информацию и может отсутствовать, если операция
      не объявляет её обязательной.
    * В списках `meta` обязателен и дополнительно содержит `page`, `pageSize`,
      `total` и `totalPages`.

    HTTP-код остаётся значимым: `200` — успешное чтение/изменение, `201` — ресурс
    создан, `202` — асинхронная задача принята и ещё не завершена.

    ## 4. Ошибка

    Все ошибки API с JSON-body используют один envelope:

    ```json
    {
      "success": false,
      "message": "Проверьте введённые данные",
      "error": {
        "code": "VALIDATION_ERROR",
        "requestId": "req_01J0Y7Y0QZ5M4X2D7F8A",
        "details": [
          {
            "field": "password",
            "code": "PASSWORD_TOO_WEAK",
            "message": "Пароль не соответствует требованиям"
          }
        ]
      }
    }
    ```

    * `success` всегда равен `false`.
    * `message` — безопасное человекочитаемое сообщение. Его можно показать
      пользователю как общий fallback, но нельзя использовать для ветвления
      логики: текст может измениться или быть локализован.
    * `error.code` — стабильный машинный код в `UPPER_SNAKE_CASE`. Frontend
      принимает решения по HTTP-статусу и этому коду.
    * `error.requestId` — идентификатор конкретного HTTP-запроса. Frontend
      сохраняет или показывает его при диагностике, backend пишет тот же ID во
      все логи данного запроса.
    * `error.details` — необязательный массив уточнений. Обычно применяется для
      ошибок валидации нескольких полей.
    * `details[].field` — путь к полю запроса в `camelCase`, например `email` или
      `goals[0].targetValue`. Может отсутствовать у ошибки, не связанной с полем.
    * `details[].code` — необязательный машинный код конкретной ошибки поля.
    * `details[].message` — безопасное сообщение о конкретной проблеме.

    Backend не должен возвращать stack trace, SQL, имя таблицы, внутреннее имя
    класса, токен или другое секретное значение ни в `message`, ни в `details`.

    Основные HTTP-статусы:

    * `400` — неправильный формат или валидация входных данных;
    * `401` — access token отсутствует, истёк или недействителен;
    * `403` — пользователь распознан, но не имеет права или Premium-доступа;
    * `404` — ресурс не найден либо не принадлежит текущему пользователю;
    * `409` — конфликт с текущим состоянием или уникальностью данных;
    * `410` — ссылка, код или ресурс окончательно истёк;
    * `413` — файл или тело запроса превышает допустимый размер;
    * `429` — превышен лимит; учитывается заголовок `Retry-After`;
    * `503` — внешняя зависимость или сервис временно недоступны.

    ## 5. Request ID и логирование

    Request ID создаётся самым первым middleware до авторизации и валидации.
    Для успешного JSON-ответа он может находиться в `meta.requestId`, для ошибки
    обязательно возвращается в `error.requestId`. Один и тот же ID используется
    во всех структурированных логах запроса вместе с методом, путём, HTTP-кодом,
    длительностью и, после успешной авторизации, `userId`.

    Пароли, JWT, refresh-токены, секреты и платёжные данные не логируются.

    ## 6. Правила frontend

    * Использовать сгенерированные из OpenAPI типы и единый HTTP-клиент.
    * Bearer access token добавлять interceptor-ом, а не из каждого экрана.
    * На `2xx` читать полезные данные из `data`.
    * На `400` связывать `error.details` с полями формы.
    * На `401` выполнять не более одной попытки refresh и повтора запроса.
    * На остальных ошибках обрабатывать `error.code`, а `message` использовать
      как текст для пользователя.
    * При сообщении об ошибке разработчикам прикладывать `error.requestId`.

    ## 7. Правила backend

    Порядок обработки: request ID и логирование → разбор Bearer-токена →
    проверка роли → валидация параметров/body → бизнес-логика → mapping DTO →
    envelope ответа. Все исключения проходят через единый error handler и
    преобразуются в описанную выше структуру.

    Медицинские рекомендации не входят в область ответственности API. Ответы
    AI имеют информационный характер и не заменяют консультацию специалиста.
  contact:
    name: Fitly development team
servers:
  - url: https://api.fitlyapp.ru
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: System
    description: Состояние сервиса.
  - name: Auth
    description: Регистрация, сессии и безопасность аккаунта.
  - name: Profile
    description: Личные и антропометрические данные.
  - name: Goals
    description: Персональные цели и их состояния.
  - name: Daily tracking
    description: Совместимые singleton-endpoints текущего приложения.
  - name: Health
    description: История веса, сна, воды и шагов.
  - name: Diary
    description: Быстрые и расширенные записи самочувствия.
  - name: Nutrition
    description: Продукты, приёмы пищи и КБЖУ.
  - name: Workouts
    description: Каталог, таймер, журнал и календарь тренировок.
  - name: Achievements
    description: Справочник наград и прогресс пользователя.
  - name: Settings
    description: Интерфейс, локаль, быстрые действия и напоминания.
  - name: Notifications
    description: Push-устройства и история уведомлений.
  - name: Analytics
    description: Агрегаты и временные ряды для графиков.
  - name: Exports
    description: Асинхронное формирование CSV и PDF.
  - name: Support
    description: Обращения пользователя и переписка с поддержкой.
  - name: AI
    description: Premium-функции ИИ с обязательным предупреждением.
  - name: Subscription
    description: Тарифы, пробный период и проверка покупок.
  - name: Admin
    description: Методы только для роли администратора.
security:
  - bearerAuth: []
paths:
  /health:
    get:
      tags: [System]
      operationId: getHealth
      summary: Проверить доступность API и базы данных
      security: []
      x-requirements: [FITLY-029]
      responses:
        '200':
          description: API и база данных доступны
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/HealthStatus'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /api/v1/auth/register:
    post:
      tags: [Auth]
      operationId: register
      summary: Зарегистрироваться и автоматически войти
      description: Email уникален без учёта регистра.
      security: []
      x-requirements: [FR-101, FR-104, FITLY-006, FITLY-019, FITLY-033, FITLY-035]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Аккаунт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Войти по email и паролю
      description: Поле `login` содержит email и сохранено для совместимости.
      security: []
      x-requirements: [FR-102, FR-1102, FITLY-007, FITLY-016, FITLY-021, FITLY-035]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Вход выполнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          description: Неверный email или пароль; конкретное поле не раскрывается
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: Неверный email или пароль
                error:
                  code: INVALID_CREDENTIALS
                  requestId: req_01J0Y7Y0QZ5M4X2D7F8A
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshTokens
      summary: Обновить пару токенов
      description: Refresh-токен одноразово ротируется; предыдущий становится недействительным.
      security: []
      x-requirements: [FITLY-028, FITLY-053]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthTokens'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Выйти и инвалидировать refresh-токен
      x-requirements: [FR-105, FITLY-053]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/logout-all:
    post:
      tags: [Auth]
      operationId: logoutAll
      summary: Завершить все сессии пользователя
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/me:
    get:
      tags: [Auth]
      operationId: getCurrentUser
      summary: Получить текущего пользователя
      x-requirements: [FITLY-028]
      responses:
        '200':
          description: Текущий пользователь
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/password-reset/request:
    post:
      tags: [Auth]
      operationId: requestPasswordReset
      summary: Запросить ссылку восстановления пароля
      description: Всегда возвращает одинаковый ответ, чтобы не раскрывать наличие email.
      security: []
      x-requirements: [FR-103, FITLY-032, FITLY-034]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/auth/password-reset/confirm:
    post:
      tags: [Auth]
      operationId: confirmPasswordReset
      summary: Установить новый пароль по одноразовому токену
      security: []
      x-requirements: [FR-103, FR-104, FITLY-034]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirmRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '410':
          description: Токен просрочен или уже использован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/auth/password:
    patch:
      tags: [Auth]
      operationId: changePassword
      summary: Изменить пароль
      description: После изменения пароля все остальные сессии завершаются.
      x-requirements: [FR-303, FR-104, FITLY-060]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/email-change/request:
    post:
      tags: [Auth]
      operationId: requestEmailChange
      summary: Запросить изменение email
      x-requirements: [FR-302, FITLY-011]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailChangeRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/auth/email-change/confirm:
    post:
      tags: [Auth]
      operationId: confirmEmailChange
      summary: Подтвердить новый email
      x-requirements: [FR-302, FITLY-011]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  minLength: 20
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '410':
          description: Токен просрочен или уже использован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/account:
    delete:
      tags: [Auth]
      operationId: deleteAccount
      summary: Безвозвратно удалить аккаунт и персональные данные
      x-requirements: [FR-201, FITLY-018]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, confirmation]
              properties:
                password:
                  type: string
                  format: password
                confirmation:
                  type: string
                  enum: [DELETE]
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          description: Access-токен недействителен либо указан неверный текущий пароль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  value:
                    success: false
                    message: Требуется авторизация
                    error:
                      code: UNAUTHORIZED
                      requestId: req_01J0Y7Y0QZ5M4X2D7F8A
                invalidCredentials:
                  value:
                    success: false
                    message: Неверный пароль
                    error:
                      code: INVALID_CREDENTIALS
                      requestId: req_01J0Y7Y0QZ5M4X2D7F8A

  /api/v1/profile:
    get:
      tags: [Profile]
      operationId: getProfile
      summary: Получить профиль и актуальные антропометрические данные
      x-requirements: [FR-301, FITLY-010, FITLY-068]
      responses:
        '200':
          description: Профиль
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Profile]
      operationId: updateProfile
      summary: Частично обновить профиль
      description: |
        Несмотря на `PUT`, поля необязательны и обновляются частично — это
        сохранённое поведение текущего клиента. Email меняется отдельным
        подтверждаемым сценарием.
      x-requirements: [FR-302, FITLY-011]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Обновлённый профиль
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Profile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/goals:
    get:
      tags: [Goals]
      operationId: listGoals
      summary: Получить цели пользователя
      x-requirements: [FR-901, FR-902, FITLY-045]
      responses:
        '200':
          description: Список целей
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [goals]
                        properties:
                          goals:
                            type: array
                            items:
                              $ref: '#/components/schemas/Goal'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Goals]
      operationId: replaceGoals
      summary: Полностью заменить набор целей
      description: Отсутствующие ранее цели отменяются; это replace-all операция.
      x-requirements: [FR-901, FR-902, FITLY-045]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceGoalsRequest'
      responses:
        '200':
          description: Актуальный список целей
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [goals]
                        properties:
                          goals:
                            type: array
                            items:
                              $ref: '#/components/schemas/Goal'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/goals/{goalId}:
    parameters:
      - $ref: '#/components/parameters/GoalId'
    patch:
      tags: [Goals]
      operationId: updateGoal
      summary: Изменить одну цель
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGoalRequest'
      responses:
        '200':
          description: Обновлённая цель
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Goal'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/goals/{goalId}/complete:
    parameters:
      - $ref: '#/components/parameters/GoalId'
    post:
      tags: [Goals]
      operationId: completeGoal
      summary: Отметить цель выполненной
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/goals/{goalId}/cancel:
    parameters:
      - $ref: '#/components/parameters/GoalId'
    post:
      tags: [Goals]
      operationId: cancelGoal
      summary: Отменить цель
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/water/today:
    get:
      tags: [Daily tracking]
      operationId: getTodayWater
      summary: Получить потребление воды за сегодня
      x-requirements: [FR-503, FITLY-037]
      responses:
        '200':
          description: Сумма воды за локальную дату пользователя
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WaterDay'
    put:
      tags: [Daily tracking]
      operationId: setTodayWater
      summary: Установить итоговый объём воды за сегодня
      description: Совместимый singleton-endpoint; значение заменяет текущий итог дня.
      x-requirements: [FR-503, FITLY-037]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaterTodayRequest'
      responses:
        '200':
          description: Обновлённый итог дня
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WaterDay'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/sleep/today:
    get:
      tags: [Daily tracking]
      operationId: getTodaySleep
      summary: Получить запись сна за сегодня
      x-requirements: [FR-502, FITLY-036]
      responses:
        '200':
          description: Запись сна или `null`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        allOf:
                          - $ref: '#/components/schemas/SleepEntry'
                        nullable: true
    put:
      tags: [Daily tracking]
      operationId: upsertTodaySleep
      summary: Создать или заменить запись сна за сегодня
      x-requirements: [FR-502, FITLY-036]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepTodayRequest'
      responses:
        '200':
          description: Сохранённая запись сна
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SleepEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/mood/today:
    get:
      tags: [Daily tracking]
      operationId: getTodayMood
      summary: Получить быструю отметку самочувствия за сегодня
      x-requirements: [FR-401, FITLY-013]
      responses:
        '200':
          description: Отметка или `null`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        allOf:
                          - $ref: '#/components/schemas/MoodEntry'
                        nullable: true
    put:
      tags: [Daily tracking]
      operationId: upsertTodayMood
      summary: Создать или заменить быструю отметку за сегодня
      description: На одну локальную дату допускается одна основная быстрая отметка.
      x-requirements: [FR-401, FITLY-013]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoodTodayRequest'
      responses:
        '200':
          description: Сохранённая отметка
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/MoodEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/favorites:
    get:
      tags: [Daily tracking]
      operationId: getFavorites
      summary: Получить избранные показатели профиля
      responses:
        '200':
          description: Настройки видимости показателей
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Favorites'
    put:
      tags: [Daily tracking]
      operationId: updateFavorites
      summary: Обновить избранные показатели
      description: Для совместимости отсутствующие поля получают значение `true`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoritesRequest'
      responses:
        '200':
          description: Сохранённые настройки
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Favorites'

  /api/v1/daily/today:
    get:
      tags: [Daily tracking]
      operationId: getTodayDailyTracking
      summary: Получить шаги и калории за сегодня
      x-requirements: [FR-801, FR-1004, FITLY-010]
      responses:
        '200':
          description: Сводка текущего дня
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DailyTracking'
    put:
      tags: [Daily tracking]
      operationId: upsertTodayDailyTracking
      summary: Обновить шаги и калории за сегодня
      description: Упрощённый учебный ввод без контракта с носимыми устройствами.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyTrackingRequest'
      responses:
        '200':
          description: Обновлённая сводка
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DailyTracking'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/health/weight:
    get:
      tags: [Health]
      operationId: listWeightEntries
      summary: Получить историю веса
      x-requirements: [FR-501, FR-1003, FITLY-012]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: История веса в порядке убывания даты
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WeightEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Health]
      operationId: createWeightEntry
      summary: Добавить запись веса
      x-requirements: [FR-501, FITLY-012]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeightEntryRequest'
      responses:
        '201':
          description: Запись создана
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WeightEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/health/weight/{entryId}:
    parameters:
      - $ref: '#/components/parameters/EntryId'
    get:
      tags: [Health]
      operationId: getWeightEntry
      summary: Получить запись веса
      responses:
        '200':
          description: Запись веса
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WeightEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Health]
      operationId: updateWeightEntry
      summary: Изменить запись веса
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeightEntryRequest'
      responses:
        '200':
          description: Обновлённая запись
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WeightEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Health]
      operationId: deleteWeightEntry
      summary: Удалить запись веса
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/health/sleep:
    get:
      tags: [Health]
      operationId: listSleepEntries
      summary: Получить историю сна
      x-requirements: [FR-502, FR-1005, FITLY-036]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: История сна в порядке убывания даты
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SleepEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Health]
      operationId: createSleepEntry
      summary: Добавить запись сна
      x-requirements: [FR-502, FITLY-036]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepEntryRequest'
      responses:
        '201':
          description: Запись создана
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SleepEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/health/sleep/{entryId}:
    parameters:
      - $ref: '#/components/parameters/EntryId'
    patch:
      tags: [Health]
      operationId: updateSleepEntry
      summary: Изменить запись сна
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepEntryRequest'
      responses:
        '200':
          description: Обновлённая запись
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SleepEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Health]
      operationId: deleteSleepEntry
      summary: Удалить запись сна
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/health/water:
    get:
      tags: [Health]
      operationId: listWaterEntries
      summary: Получить историю приёмов воды
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Приёмы воды в обратном хронологическом порядке
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WaterEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Health]
      operationId: addWater
      summary: Добавить выпитый объём воды
      x-requirements: [FR-503, FITLY-037]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaterEntryRequest'
      responses:
        '201':
          description: Приём воды добавлен, итог дня пересчитан
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [entry, day]
                        properties:
                          entry:
                            $ref: '#/components/schemas/WaterEntry'
                          day:
                            $ref: '#/components/schemas/WaterDay'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/health/water/{entryId}:
    parameters:
      - $ref: '#/components/parameters/EntryId'
    patch:
      tags: [Health]
      operationId: updateWaterEntry
      summary: Изменить приём воды
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaterEntryRequest'
      responses:
        '200':
          description: Обновлённый приём воды
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WaterEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Health]
      operationId: deleteWaterEntry
      summary: Удалить приём воды
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/health/steps:
    get:
      tags: [Health]
      operationId: listStepEntries
      summary: Получить шаги по дням
      description: Упрощённый учебный ресурс; интеграция с устройствами не контрактуется.
      x-requirements: [FR-801, FR-1004]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
      responses:
        '200':
          description: Шаги по дням в хронологическом порядке
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/StepEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/health/steps/{date}:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    put:
      tags: [Health]
      operationId: upsertStepsForDate
      summary: Установить количество шагов за дату
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [steps]
              properties:
                steps:
                  type: integer
                  minimum: 0
                  maximum: 200000
      responses:
        '200':
          description: Сохранённая запись
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/StepEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/diary/entries:
    get:
      tags: [Diary]
      operationId: listDiaryEntries
      summary: Получить записи дневника состояния
      x-requirements: [FR-402, FR-1002, FITLY-040, FITLY-061]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - name: moodScore
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Записи в обратном хронологическом порядке
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DiaryEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Diary]
      operationId: createDiaryEntry
      summary: Создать расширенную запись дневника
      x-requirements: [FR-402, FITLY-061]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiaryEntryRequest'
      responses:
        '201':
          description: Запись создана
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DiaryEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/diary/entries/{entryId}:
    parameters:
      - $ref: '#/components/parameters/EntryId'
    get:
      tags: [Diary]
      operationId: getDiaryEntry
      summary: Получить запись дневника
      responses:
        '200':
          description: Запись дневника
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DiaryEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Diary]
      operationId: updateDiaryEntry
      summary: Изменить запись дневника
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiaryEntryUpdateRequest'
      responses:
        '200':
          description: Обновлённая запись
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/DiaryEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Diary]
      operationId: deleteDiaryEntry
      summary: Удалить запись дневника
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/nutrition/products:
    get:
      tags: [Nutrition]
      operationId: searchFoodProducts
      summary: Найти системные и собственные продукты
      x-requirements: [FR-601, FITLY-038]
      parameters:
        - name: query
          in: query
          schema:
            type: string
            maxLength: 100
        - name: scope
          in: query
          schema:
            type: string
            enum: [all, system, custom]
            default: all
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Каталог продуктов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/FoodProduct'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Nutrition]
      operationId: createCustomFoodProduct
      summary: Создать собственный продукт
      x-requirements: [FR-601, FITLY-038]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FoodProductRequest'
      responses:
        '201':
          description: Собственный продукт создан
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/FoodProduct'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/nutrition/products/{productId}:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    patch:
      tags: [Nutrition]
      operationId: updateCustomFoodProduct
      summary: Изменить собственный продукт
      description: Системный продукт пользователь изменить не может.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FoodProductRequest'
      responses:
        '200':
          description: Обновлённый продукт
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/FoodProduct'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Nutrition]
      operationId: deleteCustomFoodProduct
      summary: Удалить собственный продукт
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/nutrition/meals:
    get:
      tags: [Nutrition]
      operationId: listMeals
      summary: Получить приёмы пищи
      x-requirements: [FR-601, FR-602, FITLY-038, FITLY-039, FITLY-041]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - name: mealType
          in: query
          schema:
            $ref: '#/components/schemas/MealType'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Приёмы пищи
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MealEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Nutrition]
      operationId: createMeal
      summary: Добавить приём пищи и рассчитать КБЖУ
      x-requirements: [FR-601, FR-602, FITLY-038, FITLY-039]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealEntryRequest'
      responses:
        '201':
          description: Приём пищи создан
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/MealEntry'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/nutrition/meals/{mealId}:
    parameters:
      - $ref: '#/components/parameters/MealId'
    get:
      tags: [Nutrition]
      operationId: getMeal
      summary: Получить приём пищи
      x-requirements: [FR-601, FR-602, FITLY-038, FITLY-039]
      responses:
        '200':
          description: Приём пищи
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/MealEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Nutrition]
      operationId: updateMeal
      summary: Изменить приём пищи и пересчитать КБЖУ
      x-requirements: [FR-601, FR-602, FITLY-038, FITLY-039]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealEntryRequest'
      responses:
        '200':
          description: Обновлённый приём пищи
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/MealEntry'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Nutrition]
      operationId: deleteMeal
      summary: Удалить приём пищи и пересчитать итог дня
      x-requirements: [FR-601, FR-602, FITLY-038, FITLY-039]
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/nutrition/daily/{date}:
    parameters:
      - $ref: '#/components/parameters/DatePath'
    get:
      tags: [Nutrition]
      operationId: getNutritionDay
      summary: Получить КБЖУ и приёмы пищи за день
      x-requirements: [FR-602, FITLY-039]
      responses:
        '200':
          description: Дневная сводка питания
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/NutritionDay'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/workouts/catalog:
    get:
      tags: [Workouts]
      operationId: listWorkoutCatalog
      summary: Получить каталог тренировок
      x-requirements: [FR-701, FR-702, FITLY-008, FITLY-064]
      parameters:
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/WorkoutType'
        - name: bodyArea
          in: query
          schema:
            $ref: '#/components/schemas/BodyArea'
        - name: intensity
          in: query
          schema:
            $ref: '#/components/schemas/Intensity'
        - name: maxDurationMinutes
          in: query
          schema:
            type: integer
            minimum: 5
            maximum: 240
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Подходящие тренировки
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkoutSummary'

  /api/v1/workouts/catalog/{workoutId}:
    parameters:
      - $ref: '#/components/parameters/WorkoutId'
    get:
      tags: [Workouts]
      operationId: getWorkout
      summary: Получить тренировку с упражнениями и инструкциями
      x-requirements: [FR-702, FITLY-008, FITLY-009]
      responses:
        '200':
          description: Тренировка
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Workout'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/exercises/{exerciseId}:
    parameters:
      - $ref: '#/components/parameters/ExerciseId'
    get:
      tags: [Workouts]
      operationId: getExercise
      summary: Получить подробную инструкцию упражнения
      x-requirements: [FR-702, FITLY-009]
      responses:
        '200':
          description: Упражнение
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Exercise'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/workout-sessions:
    get:
      tags: [Workouts]
      operationId: listWorkoutSessions
      summary: Получить журнал тренировок
      description: |
        Возвращает только сессии текущего пользователя. Параметры `from` и `to`
        фильтруют локальную дату `startedAt` включительно в часовом поясе
        пользователя.
      x-requirements: [FR-703, FR-1001, FITLY-043, FITLY-044]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WorkoutSessionStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Журнал тренировок
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Workouts]
      operationId: startWorkoutSession
      summary: Начать тренировочную сессию
      description: У пользователя может быть только одна активная сессия.
      x-requirements: [FR-703, FITLY-043]
      x-error-codes:
        - ACTIVE_WORKOUT_SESSION_EXISTS
        - WORKOUT_PLAN_NOT_SCHEDULED
        - WORKOUT_PLAN_WORKOUT_MISMATCH
        - WORKOUT_PLAN_SESSION_EXISTS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartWorkoutSessionRequest'
      responses:
        '201':
          description: Таймер сессии запущен
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/workout-sessions/active:
    get:
      tags: [Workouts]
      operationId: getActiveWorkoutSession
      summary: Получить активную или приостановленную сессию
      responses:
        '200':
          description: Активная сессия или `null`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        allOf:
                          - $ref: '#/components/schemas/WorkoutSession'
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/workout-sessions/{sessionId}:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    get:
      tags: [Workouts]
      operationId: getWorkoutSession
      summary: Получить тренировочную сессию
      responses:
        '200':
          description: Сессия
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/workout-sessions/{sessionId}/pause:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    post:
      tags: [Workouts]
      operationId: pauseWorkoutSession
      summary: Приостановить таймер
      x-requirements: [FITLY-043]
      x-error-codes: [WORKOUT_SESSION_NOT_PAUSABLE]
      responses:
        '200':
          description: Приостановленная сессия
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/workout-sessions/{sessionId}/resume:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    post:
      tags: [Workouts]
      operationId: resumeWorkoutSession
      summary: Продолжить таймер
      x-requirements: [FITLY-043]
      x-error-codes: [WORKOUT_SESSION_NOT_RESUMABLE]
      responses:
        '200':
          description: Продолженная сессия
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/workout-sessions/{sessionId}/finish:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    post:
      tags: [Workouts]
      operationId: finishWorkoutSession
      summary: Завершить тренировку и сохранить результат
      x-requirements: [FR-703, FITLY-043, FITLY-044]
      x-error-codes:
        - WORKOUT_SESSION_ALREADY_COMPLETED
        - WORKOUT_SESSION_CANCELLED
        - WORKOUT_PLAN_NOT_SCHEDULED
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishWorkoutSessionRequest'
      responses:
        '200':
          description: Завершённая тренировочная сессия
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/workout-sessions/{sessionId}/cancel:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    post:
      tags: [Workouts]
      operationId: cancelWorkoutSession
      summary: Отменить активную сессию
      x-error-codes:
        - WORKOUT_SESSION_ALREADY_COMPLETED
        - WORKOUT_SESSION_ALREADY_CANCELLED
      responses:
        '200':
          description: Отменённая сессия
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/workout-plans:
    get:
      tags: [Workouts]
      operationId: listWorkoutPlans
      summary: Получить календарь тренировок
      x-requirements: [FR-704, FITLY-042]
      parameters:
        - $ref: '#/components/parameters/FromDate'
        - $ref: '#/components/parameters/ToDate'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/WorkoutPlanStatus'
      responses:
        '200':
          description: Запланированные тренировки
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkoutPlan'
        '400':
          $ref: '#/components/responses/ValidationError'
    post:
      tags: [Workouts]
      operationId: createWorkoutPlan
      summary: Запланировать тренировку
      x-requirements: [FR-704, FITLY-042, FITLY-051]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutPlanRequest'
      responses:
        '201':
          description: Тренировка запланирована
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutPlan'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/workout-plans/{planId}:
    parameters:
      - $ref: '#/components/parameters/PlanId'
    patch:
      tags: [Workouts]
      operationId: rescheduleWorkoutPlan
      summary: Перенести запланированную тренировку
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutPlanUpdateRequest'
      responses:
        '200':
          description: План обновлён
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutPlan'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Workouts]
      operationId: cancelWorkoutPlan
      summary: Отменить запланированную тренировку
      responses:
        '200':
          description: План переведён в `cancelled`
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WorkoutPlan'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/achievements:
    get:
      tags: [Achievements]
      operationId: listAchievements
      summary: Получить все достижения и прогресс пользователя
      x-requirements: [FR-801, FR-802, FR-803, FITLY-047, FITLY-052]
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AchievementStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Достижения
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserAchievement'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/achievements/{achievementId}:
    parameters:
      - $ref: '#/components/parameters/AchievementId'
    get:
      tags: [Achievements]
      operationId: getAchievement
      summary: Получить достижение и прогресс
      responses:
        '200':
          description: Достижение
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/UserAchievement'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/settings:
    get:
      tags: [Settings]
      operationId: getSettings
      summary: Получить настройки приложения
      x-requirements: [FR-1201, FR-1202, FITLY-014, FITLY-015, FITLY-050, FITLY-059, FITLY-062]
      responses:
        '200':
          description: Настройки
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSettings'
    patch:
      tags: [Settings]
      operationId: updateSettings
      summary: Частично обновить настройки
      description: |
        Обновляются только переданные поля. Поля объекта `notifications`
        объединяются с сохранёнными настройками уведомлений.
      x-requirements: [FR-1201, FR-1202, FR-1408, FITLY-015, FITLY-059, FITLY-062]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSettingsRequest'
      responses:
        '200':
          description: Обновлённые настройки
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/UserSettings'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/devices:
    post:
      tags: [Notifications]
      operationId: registerPushDevice
      summary: Зарегистрировать токен push-уведомлений
      description: Это регистрация мобильного клиента, не интеграция с фитнес-устройствами.
      x-requirements: [FR-1301, FR-1302, FR-1303]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
      responses:
        '200':
          description: Устройство создано или обновлено
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/devices/{deviceId}:
    parameters:
      - $ref: '#/components/parameters/DeviceId'
    delete:
      tags: [Notifications]
      operationId: unregisterPushDevice
      summary: Удалить push-токен устройства
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/notifications:
    get:
      tags: [Notifications]
      operationId: listNotifications
      summary: Получить историю уведомлений
      x-requirements: [FR-1301, FR-1302, FR-1303, FITLY-066]
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/NotificationStatus'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/NotificationType'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Уведомления
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'

  /api/v1/notifications/unread-count:
    get:
      tags: [Notifications]
      operationId: getUnreadNotificationCount
      summary: Получить количество непрочитанных уведомлений
      responses:
        '200':
          description: Счётчик
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [count]
                        properties:
                          count:
                            type: integer
                            minimum: 0

  /api/v1/notifications/{notificationId}/read:
    parameters:
      - $ref: '#/components/parameters/NotificationId'
    post:
      tags: [Notifications]
      operationId: markNotificationRead
      summary: Отметить уведомление прочитанным
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/notifications/read-all:
    post:
      tags: [Notifications]
      operationId: markAllNotificationsRead
      summary: Отметить все уведомления прочитанными
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'

  /api/v1/analytics/summary:
    get:
      tags: [Analytics]
      operationId: getAnalyticsSummary
      summary: Получить единую сводку здоровья
      description: |
        Возвращает итоговые показатели от начала выбранного календарного периода
        до `endDate` включительно: с понедельника для `week`, с первого числа для
        `month` и с 1 января для `year`.

        Последний вес и ИМТ рассчитываются по записи не позднее `endDate`, а
        изменение веса — только между первой и последней записями внутри периода.
        Среднее потребление воды делится на число всех календарных дней диапазона,
        включая дни без записей, и округляется до целого миллилитра.
      x-requirements: [FR-1008, FITLY-049]
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/PeriodEndDate'
      responses:
        '200':
          description: Агрегированная сводка
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/AnalyticsSummary'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/analytics/weight:
    get:
      tags: [Analytics]
      operationId: getWeightAnalytics
      summary: Получить динамику веса и ИМТ
      description: |
        Возвращает записи веса внутри выбранного календарного периода.
        `currentWeightKg` и `bmi` рассчитываются по последней записи не позднее
        `endDate`, даже если эта запись находится до начала периода.
      x-requirements: [FR-1003, FR-1006, FITLY-048]
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/PeriodEndDate'
      responses:
        '200':
          description: Серия веса и текущий ИМТ
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/WeightAnalytics'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/analytics/activity:
    get:
      tags: [Analytics]
      operationId: getActivityAnalytics
      summary: Получить шаги, тренировки и сожжённые калории
      description: |
        Возвращает активность от начала выбранного календарного периода до
        `endDate` включительно: с понедельника для `week`, с первого числа для
        `month` и с 1 января для `year`. Завершённые тренировки относятся к
        локальной дате `finishedAt` в часовом поясе пользователя. `points`
        содержит каждый день диапазона, включая дни с нулевыми значениями.
      x-requirements: [FR-1001, FR-1004, FITLY-044, FITLY-048]
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/PeriodEndDate'
      responses:
        '200':
          description: Динамика активности
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/ActivityAnalytics'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/analytics/sleep:
    get:
      tags: [Analytics]
      operationId: getSleepAnalytics
      summary: Получить отчёт о длительности и качестве сна
      description: |
        Возвращает только дни с записями сна. Средние значения рассчитываются
        по существующим записям внутри выбранного календарного периода.
      x-requirements: [FR-1005, FITLY-048]
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/PeriodEndDate'
      responses:
        '200':
          description: Динамика сна
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SleepAnalytics'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/analytics/nutrition:
    get:
      tags: [Analytics]
      operationId: getNutritionAnalytics
      summary: Получить сводку питания за период
      x-requirements: [FR-1007, FITLY-049]
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/PeriodEndDate'
      responses:
        '200':
          description: Динамика КБЖУ
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/NutritionAnalytics'

  /api/v1/analytics/mood:
    get:
      tags: [Analytics]
      operationId: getMoodAnalytics
      summary: Получить динамику самочувствия
      x-requirements: [FR-1002, FITLY-061]
      parameters:
        - $ref: '#/components/parameters/Period'
        - $ref: '#/components/parameters/PeriodEndDate'
      responses:
        '200':
          description: Динамика самочувствия
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/MoodAnalytics'

  /api/v1/exports:
    get:
      tags: [Exports]
      operationId: listExports
      summary: Получить историю запросов экспорта
      x-requirements: [FR-1009, FITLY-054]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Запросы экспорта
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExportRequest'
    post:
      tags: [Exports]
      operationId: createExport
      summary: Запустить формирование CSV или PDF
      x-requirements: [FR-1009, FITLY-054]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExportRequest'
      responses:
        '202':
          description: Запрос создан; клиент опрашивает его состояние
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/ExportRequest'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/exports/{exportId}:
    parameters:
      - $ref: '#/components/parameters/ExportId'
    get:
      tags: [Exports]
      operationId: getExport
      summary: Получить состояние экспорта
      responses:
        '200':
          description: Состояние экспорта
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/ExportRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/exports/{exportId}/download:
    parameters:
      - $ref: '#/components/parameters/ExportId'
    get:
      tags: [Exports]
      operationId: downloadExport
      summary: Скачать готовый файл экспорта
      responses:
        '200':
          description: CSV или PDF; имя передаётся в `Content-Disposition`
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Файл ещё не готов или генерация завершилась ошибкой
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Срок хранения файла истёк
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/support/requests:
    get:
      tags: [Support]
      operationId: listOwnSupportRequests
      summary: Получить свои обращения
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SupportStatus'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Обращения пользователя
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SupportRequestSummary'
    post:
      tags: [Support]
      operationId: createSupportRequest
      summary: Создать обращение или жалобу
      x-requirements: [FR-1105, FITLY-057]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupportRequest'
      responses:
        '201':
          description: Обращение создано
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SupportRequest'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/support/requests/{requestId}:
    parameters:
      - $ref: '#/components/parameters/SupportRequestId'
    get:
      tags: [Support]
      operationId: getOwnSupportRequest
      summary: Получить своё обращение и переписку
      responses:
        '200':
          description: Обращение
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SupportRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/support/requests/{requestId}/messages:
    parameters:
      - $ref: '#/components/parameters/SupportRequestId'
    post:
      tags: [Support]
      operationId: replyToOwnSupportRequest
      summary: Добавить сообщение в открытое обращение
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportMessageRequest'
      responses:
        '201':
          description: Сообщение добавлено
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/SupportMessage'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/support/requests/{requestId}/close:
    parameters:
      - $ref: '#/components/parameters/SupportRequestId'
    post:
      tags: [Support]
      operationId: closeOwnSupportRequest
      summary: Закрыть своё обращение
      responses:
        '200':
          $ref: '#/components/responses/ActionCompleted'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/ai/recommendations:
    post:
      tags: [AI]
      operationId: createAiRecommendation
      summary: Сформировать персональную рекомендацию
      description: Требует Premium и включённого ИИ-помощника.
      x-requirements: [FR-1401, FR-1402, FR-1407, FR-1409, FR-1501, FITLY-071, FITLY-077]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiRecommendationRequest'
      responses:
        '200':
          description: Информационная рекомендация
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/AiTextResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PremiumOrAiDisabled'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/ai/workout-recommendations:
    post:
      tags: [AI]
      operationId: createAiWorkoutRecommendation
      summary: Подобрать тренировку с помощью ИИ
      x-requirements: [FR-1403, FR-1407, FITLY-072, FITLY-077]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiWorkoutRequest'
      responses:
        '200':
          description: Рекомендованные тренировки из каталога
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/AiWorkoutResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PremiumOrAiDisabled'

  /api/v1/ai/summaries:
    post:
      tags: [AI]
      operationId: createAiSummary
      summary: Сформировать текстовую сводку состояния
      x-requirements: [FR-1404, FR-1407, FITLY-073, FITLY-077]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [period]
              properties:
                period:
                  $ref: '#/components/schemas/AnalyticsPeriod'
                endDate:
                  type: string
                  format: date
      responses:
        '200':
          description: Сводка
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/AiTextResult'
        '403':
          $ref: '#/components/responses/PremiumOrAiDisabled'

  /api/v1/ai/diary-prompts:
    post:
      tags: [AI]
      operationId: createAiDiaryPrompts
      summary: Получить уточняющие вопросы для дневника
      x-requirements: [FR-1405, FR-1407, FITLY-077]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                draftText:
                  type: string
                  maxLength: 2000
                moodScore:
                  type: integer
                  minimum: 1
                  maximum: 5
      responses:
        '200':
          description: Вопросы, которые пользователь может пропустить
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [questions, disclaimer]
                        properties:
                          questions:
                            type: array
                            maxItems: 6
                            items:
                              type: string
                          disclaimer:
                            $ref: '#/components/schemas/AiDisclaimer'
        '403':
          $ref: '#/components/responses/PremiumOrAiDisabled'

  /api/v1/ai/food-recognition:
    post:
      tags: [AI]
      operationId: recognizeFoodImage
      summary: Распознать блюдо по фото
      x-requirements: [FR-1406, FR-1502, FITLY-075, FITLY-077]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: JPEG, PNG или WebP, не более 10 МБ.
      responses:
        '200':
          description: Предполагаемый состав; пользователь обязан проверить значения
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        $ref: '#/components/schemas/FoodRecognitionResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PremiumOrAiDisabled'
        '413':
          description: Файл слишком большой
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/ai/voice-transcriptions:
    post:
      tags: [AI]
      operationId: transcribeVoice
      summary: Распознать голос для дневника или питания
      x-requirements: [FR-403, FR-1503, FITLY-076, FITLY-077]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
[...]
